body {
  margin: 50px;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(233, 233, 233);
  padding: auto;
}

.title {
  color: dimgray;
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 10px;
}

.search {
  margin: 10px;
}

.search>input {
  border-radius: 40px;
  padding: 8px 13px;
  width: 200px;
  border: none;
  color: dimgray;
  outline: none;
}

textarea {
  width: 400px;
  height: 100px;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
}

.form {
  width: 400px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.radio {
  -webkit-appearance: none;
  cursor: pointer;
  appearance:none;
  transition: 120ms transform ease-in-out;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
}

.radio:checked {
  transform: scale(1.3);
}
.add-button {
  padding: 10px 20px;
  background-color:dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.note {
  margin-top: 20px;
  width: 120px;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
}

.notes {
  width: 380px;
  justify-content: center;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px 10px;
}

.note-title {
  font-weight: 500;
}

p {
  margin: 10px 5px;
}

.destroy {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
}

.green {
  background-color: greenyellow;
}

.blue {
  background-color:dodgerblue ;
}

.purple {
  background-color: mediumpurple;
}

.gray {
  background-color: darkgrey;
}

.yellow {
  background-color: gold;
}

.footer {
  margin-top: 30px; 
  color: dimgray; 
  text-decoration: none;
}

a {
  color: dimgray; 
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
